.stack-bg{
    -fx-background-image: url("imgs/6869143.jpg");
    -fx-background-size: cover;
}
.anchor-pane{
    -fx-background-color: rgba(243, 243, 243, 0.99);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 5, 5);
}
.text-field {
    -fx-text-fill: #111;
    -fx-font-weight: bold;
}